@import url('/Comfortaa-Regular.ttf');
:root {
  font-family: var(--default-font);
  --secondary-font-family: 'Comfortaa', sans-serif;
  --default-font: 200 18px/1.25em var(--default-font-family);
  background-image: url(/background.png);
  background-size: 0.75em 0.75em;
  --default-font: 'Comfortaa', sans-serif;
  --active-color: #005030;
  --primary-color: #229405;
  --secondary-color: #f47321;
  --secondaryShade-color: #ffdc8b;
  --text-color: #08489f;
  --light-text-color: #fdfdfd;
  --border-color: #e6e6ea;
  --secondary-background-color: #f4f4f8;
  --error-color: #d91f34;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: var(--default-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
