.sticky_container {
  /* display: flex; */
  position: fixed;
  bottom: 0;
  margin: 0 0 0.5em auto;
  width: 93.7%;
  justify-content: space-between;
}
.buttons_container {
  display: flex;
  max-width: 730px;
  margin: 0 0 0.5em 0;
  bottom: 0;
  justify-content: space-between;
}

.buttons {
  /* display: flex;
  justify-content: space-around; */
}
