.sticky_container {
  position: fixed;
  bottom: 0;
  margin: 0 0 0.5em auto;
  width: 93.7%;
  justify-content: space-between;
}
.buttons_container {
  display: flex;
  max-width: 705px;
  margin: 0 0.8em 0.5em 0.8em;
  bottom: 0;
  justify-content: space-between;
}

.buttons {
  font-size: 1.3em;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  border: solid var(--brand-green-med);
  border-radius: 100%;
}
