.buttons_container {
  /* flex: auto;
  position: 'absolute';
  margin: 0;
  bottom: 0; */
  display: flex;
  flex: 1;
  justify-content: 'flex-end';
  margin-bottom: 36;
}

.buttons {
  font-weight: bolder;
  margin: 0;
  bottom: 0;
}
