.header_container {
  display: flex;
  justify-content: space-between;
}

.header_img {
  display: inline-block;
}

.header_nav {
  padding: 0.3em 0 0 0.8em;
  width: 180px;
}

.nav_container {
  height: auto;
}

.nav_link {
  font-size: small;
  padding: 0.3em;
  display: inline-block;
}

.defaultTextStyle {
  font-weight: bolder;
}

img {
  width: 60%;
}

.defaultContainerStyle {
  height: auto;
}
