.header_container {
  margin: 0 1em;
  display: block;
  justify-content: space-between;
}

.header_img {
  display: inline-block;
}

.header_nav {
  float: right;
  padding: 0.3em 0 0.3em 0.8em;
  width: 180px;
}

.nav_container {
  height: auto;
}

.nav_link {
  font-size: small;
  padding: 0.3em;
  display: inline-block;
}

.defaultTextStyle {
  font-weight: bolder;
}

img {
  width: 100%;
  max-width: 600px;
}

.defaultContainerStyle {
  height: auto;
}
